@page "/"

<div class="container-fluid">
    <h1>Welcome to Blazor Word Games Project</h1>

    <p>
        This is a <strong>JavaScript FREE</strong> project. The goal is to build web components with browser events such as
        <strong>onclick</strong> etc. using <strong>C#</strong>
    </p>

    <p>
        <strong>Hangman</strong> game (link on the left) demonstrates this. Some functionalities are still missing, however,
        it exhibits behaviors that traditionally would not work without JS.
    </p>


    <SurveyPrompt Title="Want to contribute?" />
</div>

